@use "oc"
  
//sizes
$size-1: 1rem
$size-2: $size-1 * 2
$size-4: $size-1 * 4
$size-6: $size-1 * 6
$size-8: $size-1 * 8
$size-12: $size-1 * 12
$size-16: $size-1 * 16
$size-20: $size-1 * 20
$size-24: $size-1 * 24
$size-32: $size-1 * 32
$size-48: $size-1 * 48
$size-64: $size-1 * 64
$size-128: $size-1 * 128

//text colors
$c-text-dark: oc.$gray-6
$c-text-default: oc.$gray-5
$c-text-bright: oc.$gray-3

//font sizes
$fs-xs: 9px
$fs-sm: 12px
$fs-md: 16px 
$fs-lg: 21.3px
$fs-xl: 28.4px

//background colors
$c-bg-1: oc.$dark-9
$c-bg-2: oc.$dark-8
$c-bg-3: oc.$dark-7
$c-bg-4: oc.$dark-6

//other colors
$c-main: oc.$indigo-5
$c-white: oc.$gray-1
//$c-dva-blue: #92baf4
//$c-dva-brown: #633633
//$c-dva-pink: #ee4bb5 

//space
$space-1: 4.2em
$space-2: 2.6em
$space-3: 1.6em
$space-4: 1em
$space-5: 0.6em
$space-6: 0.38em
$space-7: 0.23em

//borders
$border-dark: 1px solid oc.$dark-7
$border-default: 1px solid oc.$dark-6
$border-bright: 1px solid oc.$dark-4

//misc
$transition: all 60ms linear
$font-family: "Inter"
$border-radius: 4px
$boxShadow: rgba(0, 0, 0, 0.18) 0px 2px 4px
$lineHeight: calc(1em + 1ex)

//mixins
@mixin center
  display: flex
  align-items: center
  justify-content: center

@mixin bgHover($color, $lightness)
  background-color: $color
  &:hover
    background-color: lighten($color, $lightness)


